{% extends "base.html" %}


{% block content %}
  <body>
    <div class="body-container">
    <header>
      <h1 style="padding-bottom: 10px; text-align: center;">
        Error 500
      </h1>
    </header>
    <main>
      <p></p>
      <p style="font-size: 20; width: 600px; text-align: justify;">There was an internal error. This usually happens if Friendshipify cannot
        find one or more of the songs you typed in, either because it was spelled wrong or the title of the song was incorrect. Any songs or artists 
        typed in should be an exact match and have correct spelling.</p>
      <p style="font-size: 20; width: 600px; text-align: justify;">For example:</p>
      <div style="font-size: 20; width: 600px; text-align: justify; padding-left: 120px;">
        <p><b style="color: green;">Correct: </b><i>The</i> Sound of Silence, Simon & Garfunkel</p>
        <p><b style="color: red;">Incorrect: </b>Sound of Silence, Simon & Garfunkel</p>
        <p><b style="color: red;">Incorrect: </b>The Sound of Silence, Simon and <i>Garfinkel</i></p>
      </div>
    </main>
  </div>
  </body>
{% endblock %}
