{% extends "base.html" %}


{% block content %}
  <body>
    <div class="body-container">
    <header>
      <h2 style="text-align:center; width: 700px;">
        Hi, I'm Deandra & I created Friendshipify! 🎶
      </h2>
    </header>
    <main>
      <p></p>
      <p></p>
      <h4 style="text-align:center; width: 700px">I'm a Data Science Fellow at SharpestMinds</h4>
      <p></p>

      <p style="font-size: 18; width: 700px; text-align: justify;"><a target="_blank" rel="noopener noreferrer" href="https://www.sharpestminds.com">SharpestMinds</a> is a 
        mentorship platform that pairs aspiring data scientists with professionals in the field. I built Friendshipify under the guidance of my mentor
        Rocio Ng. Click <a target="_blank" rel="noopener noreferrer" href="https://towardsdatascience.com/friendshipify-a-playlist-generator-for-friends-f79297f08b03">here</a> to read more about how the project was built.</p>
      <h4>My Background</h4>
      <p style="font-size: 18; width: 700px; text-align: justify;">I received a Master's Degree in Geosciences from San Francisco State University in 2019.
          My thesis quantified the relationship between climate and hydrologic processes to understand the impacts of 
          climate change on water resources used for agriculture.</p>
      <p style="font-size: 18; width: 700px; text-align: justify;">During my Master's program, I discovered that I really enjoyed performing statistical 
          analyses and finding ways to quantitatively answer open ended questions about Earth's physical processes. After looking
          into my options after graduation, I realized that a career as a geologist or hydrogeologist wasn't a good fit for me anymore, 
          but I had no idea what I wanted to do instead. A friend suggested I look into data 
          science and learn the basics of Python to see if data science is something I would be interested in.</p>
      <p style="font-size: 18; width: 700px; text-align: justify;">I started with a 
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/specializations/applied-data-science">Coursera specialization</a> 
          and was hooked. After the specialization, I spent a few months working through 
          <a target="_blank" rel="noopener noreferrer" href="https://www.dataquest.io">Dataquest's Data Science Track</a> to sharpen my Python skills and 
          get more experience with the popular tools and libraries. After 5 months of learning, 30 ignored job applications, and reading way
          too many articles on transitioning into data science, I realized I needed some guidance. One piece of advice I took away from reading
          all those articles was to <b>get a mentor.</b> I came across SharpestMinds on Towards Data Science and it seemed to be exactly the kind of 
          guidance I was looking for. I started my mentorship with Rocio Ng in November 2019, and have been working on building Friendshipify since then.
      </p>
    </div> 

      
    </main>
  </div>
  </body>
{% endblock %}
