{% extends "base.html" %}


{% block content %}
  <body>
    <div class="body-container">
    <header>
      <h2 style="padding-bottom: 10px;">
        Hi, I'm Deandra & I created Friendshipify! 🎶
      </h2>
    </header>
    <main>
      <p></p>
      <p></p>
      <h4>I'm a Data Science Fellow at SharpestMinds</h4>
      <p></p>
      <p style="font-size: 18; width: 700px;">I received a Master's Degree in Geosciences from San Francisco State University in 2019.
          My thesis quantified the relationship between climate and hydrologic processes to understand the impacts of 
          climate change on water resources used for agriculture.</p>
      <p style="font-size: 18; width: 700px;">During my Master's program, I discovered that I really enjoyed performing statistical 
          analyses and finding ways to quantitatively answer open ended questions about Earth's physical processes.
          While I loved geology, I started to become more interested in the analytical side of the discipline than fieldwork. A friend 
          suggested I look into data science and learn the basics of Python to see if data science is something I would be interested in.</p>
      <p style="font-size: 18; width: 700px;">I started with a 
          <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/specializations/applied-data-science">Coursera specialization</a> 
          and was hooked. After the specialization, I spent a few months working through 
          <a target="_blank" rel="noopener noreferrer" href="https://www.dataquest.io">Dataquest's Data Science Track</a> to sharpen my Python skills and 
          get more experience with the tools and libraries of the field. After 5 months of learning on my own, about 30 ignored job applications, and reading 
          too many articles on transitioning into data science, I realized I needed some guidance. One piece of advice I took away from reading
          all those articles was this: <b>get a mentor.</b></p>
      <p style="font-size: 18; width: 700px;">I came across 
          <a target="_blank" rel="noopener noreferrer" href="https://www.sharpestminds.com">SharpestMinds</a> a few times while reading blog posts...</p>

      
    </main>
  </div>
  </body>
{% endblock %}
