{% extends "base.html" %}


{% block content %}
  <body>
    <div class="body-container">
    <header>
      <h1 style="padding-bottom: 10px; text-align: center;">
        Submission Error
      </h1>
    </header>
    <main>
      <p></p>
      <p style="font-size: 20; width: 600px; text-align: justify;">One or both of your submissions don't look quite right, 
        make sure they look like the example. They should include the name of the song, 
        and the artist, separated by a comma. There should be a semicolon between songs.</p>
    </main>
  </div>
  </body>
{% endblock %}
