<!-- This is a static file -->
<!-- served from your routes in server.js -->
{% extends "base.html" %}


{% block content %}
  <body>
    <div class="body-container">
    <header>
      <h1>
        Friendship Playlist
      </h1>
      <h4>
        A playlist generator for friends, listen to songs you'll both like!
      </h4>
    </header>
    <main>
      <p>Input songs using the following format, using semicolons between songs:<br>
      <i>Bohemian Rhapsody, Queen; Heartbreak Hotel, Elvis; Toxic, Britney Spears</i></p>
      <p>
        <form>
           <label>Or Try a Demo: </label><br>
           <input type="radio" name="input3" value="popVsRock" onchange="autoFill(value)">Pop vs. Rock
           <input type="radio" name="input3" value="rockVsHiphop" onchange="autoFill(value)">Rock vs. Hip Hop
           <input type="radio" name="input3" value="mixedGenres" onchange="autoFill(value)">Mixed Genres<br>
        </form><br>
      
        <form method="POST" action='results' >
          <input name ="query_a" required type="text" maxlength="8000" placeholder="Friend 1" style="height: 30px; width: 500px;">
          <p></p>
          <form method="POST" action='results' >
          <input name ="query_b" required type="text" maxlength="8000" placeholder="Friend 2" style="height: 30px; width: 500px;">
          <p></p>
          <span class="input-group-btn">
          <button class="btn btn-powder-green" onclick="window.location.href='{{playlist}}'" type="submit">Submit</button>
          </div>
        </form>
      <!-- <section class="results">
        <h3>Result</h3>

      </section> -->
    </main>
  </div>
  </body>
{% endblock %}
