/* styles */
/* called by your view template */

/* CircularStd @font-face kit */
/* @font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.eot");
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BlackItalic.eot");
  src: url("../fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-BlackItalic.woff") format("woff"), url("../fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("../fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BoldItalic.eot");
  src: url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CircularStd-BoldItalic.woff") format("woff");
  src: url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
  src: url("../fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Medium.eot");
  src: url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CircularStd-Medium.woff") format("woff");
  src: url("../fonts/CircularStd-Medium.ttf") format("truetype");
  src: url("../fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-MediumItalic.eot");
  src: url("../fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CircularStd-MediumItalic.woff") format("woff");
  src: url("../fonts/CircularStd-MediumItalic.ttf") format("truetype");
  src: url("../fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CircularStd-Book.woff") format("woff");
  src: url("../fonts/CircularStd-Book.ttf") format("truetype");
  src: url("../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BookItalic.eot");
  src: url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/CircularStd-BookItalic.woff") format("woff");
  src: url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
  src: url("../fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic;
} */

* {
  box-sizing: border-box;
}

/* body { 
  font-family: "CircularStd" !important;
} */

/* container for main content block */
.body-container {
  padding: 4px 0px 0px 16px;
}

.plot-container-plotly {
  font-family: "CircularStd" !important;
}

.small-blockquote {
  width: 750px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.blockquote-li {
  padding-bottom: 5px;
}

.navbar {
  position: relative;
  min-height: 55px;
  margin-bottom: 0;
}

.inline-container {
  display: flex;
}

.modebar-container {
  display: none;
}

.user-header {
  margin: 0 0 0 0;
  width: 100px;
}

.left-user-header{
  width: 110px;
}

.middle-user-header {
  margin-left: 50px !important;
  width: 120px;
}
.right-user-header{
  margin-left: 50px;
  width: 70px;
}

.user-list {
  padding-left: 20px;
}
.row {
  display: flex;
}
.columns {
  flex: inherit;
  padding: 10px;
}
/* 
.sp-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sp-entity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 5px;
  width: 1500px;
}

.sp-cover {
  height: 200px;
  width: 200px;
  cursor: pointer;
  background-size: contain !important;
}


.sp-cover:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
}

.sp-title {
  margin: 15px 0 0;
}

.sp-by {
  margin: 0;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.thick-border {
  border: 3px solid black;
  border-collapse: collapse;
} */
